# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build Docusaurus Page
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn
      - uses: browser-actions/setup-chrome@latest
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build website
        run: yarn build
      - name: Build slides
        run: |
          yarn build:marp && \
          yarn run build:marp-copy-images && \
          yarn run build:marp-copy-js
      - name: Build slides PDFs
        run: yarn build:marp-pdf
      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: build
  deploy:
    name: Deploy to GitHub Pages
    needs: build
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
